In [1]:
import pandas as pd

df = pd.read_csv("temperatures.csv")

df.head(5)

        day  temperature
0  20170101          0.5
1  20170102          3.0
2  20170103          5.0
3  20170104          5.8
4  20170105          0.0

In [4]:
df.describe()

                day  temperature
count  3.650000e+02   365.000000
mean   2.017067e+07    10.965753
std    3.454755e+02     6.034407
min    2.017010e+07    -3.800000
25%    2.017040e+07     6.600000
50%    2.017070e+07    10.900000
75%    2.017100e+07    16.100000
max    2.017123e+07    23.600000

In [11]:
df_warm = df[df["temperature"] > 22]

In [12]:
df_warm

          day  temperature
136  20170517         22.3
146  20170527         22.9
169  20170619         23.6
172  20170622         22.9
199  20170719         23.5

In [14]:
df_cold = df[df["temperature"] < -3]

In [15]:
df_cold

         day  temperature
16  20170117         -3.4
17  20170118         -3.8

In [24]:
if temperature < 0:
print(bool)

IndentationError: expected an indented block (<ipython-input-24-25f72c3e86e2>, line 2)