In [1]:
import praw
import pandas as pd

In [2]:
CLIENT_ID = "-"
CLIENT_SECRET = "-"
USER_AGENT = f"python:{CLIENT_ID}:0.1 (by /u/-)"

In [3]:
api = praw.Reddit(
    client_id = CLIENT_ID,
    client_secret = CLIENT_SECRET,
    user_agent = USER_AGENT
)

In [4]:
api.read_only

True

In [5]:
items = []
submissions = api.subreddit("askreddit").hot(limit = 10)

for submission in submissions:
    item = {
        "title" : submission.title,
        "score" : submission.score,
        "num_comments" : submission.num_comments
    }
    items.append(item)

In [6]:
df = pd.DataFrame(items)
df

   num_comments  score                                              title
0         10335  25665  What was the cringiest thing you did in your f...
1         28930  50940  What’s the dumbest thing you’ve heard someone ...
2          6216   5222              What is something that HAS aged well?
3          4882   5119     What have we all conveniently forgotten about?
4          3795   7799  What made you laugh the hardest in your entire...
5           745    496           What is the worst thing to cheap out on?
6          4798   4909  What's an experience you don't ever want to go...
7          1356    562  Men of reddit, what do women do that they thin...
8           638    239  What is the most physically painful thing you'...
9          1291   1569  What benefits did you notice after losing weight?

In [7]:
df.head(5)

   num_comments  score                                              title
0         10335  25665  What was the cringiest thing you did in your f...
1         28930  50940  What’s the dumbest thing you’ve heard someone ...
2          6216   5222              What is something that HAS aged well?
3          4882   5119     What have we all conveniently forgotten about?
4          3795   7799  What made you laugh the hardest in your entire...

In [8]:
df.to_json("subreddit.json")